.concept-context {
    margin-top: 50px;
    margin-bottom: 90px;
    position: relative;
}

.concept-context .record{
    clear: both;
    padding-top: 50px;
}

.concept-context .close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 70px;
}
.concept-context .close img{
    width: 100%;
    display: block;
}

.concept-left {
    width: 50%;
    float: left;
}
.concept-left article{
    margin-bottom: 25px;
}
.concept-left hr{
    display: block;
    padding: 0;
    margin: 8px 0;
    height: 1px;
    border: 0;
    background-color: #000;
}
.concept-left strong{
    display: block;
    color: #911110;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
}
.concept-left em{
    font-style: normal;
    font-size: 30px;
    margin-bottom: 5px;
}
.concept-left p{
    font-size: 16px;
    padding-top: 10px;
    line-height: 23px;
}

.concept-right {
    width: 50%;
    float: right;
}

.concept-right article{
    padding-top: 390px;
    padding-left: 50px;
    padding-right: 100px;
}

.concept-right strong{
    font-size: 20px;
    font-weight: normal;
    color: #921112;
    padding-bottom: 15px;
    display: block;
}

.concept-right p{
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 23px;
}