.contact-context {
    margin-top: 40px;
    margin-bottom: 90px;
    position: relative;
}

.contact-context article {
    padding: 150px 200px;
}

.contact-context article p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
}

.contact-context article strong{
    color: #B22222;
    font-size: 19px;
}

.contact-context article address{
    position: relative;
    padding-left: 160px;
    margin-top: 5px;
}
.contact-context article img{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
}
.contact-context article span{
    display: block;
    padding-bottom: 30px;
    font-style: normal;
}

.contact-context .close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 70px;
}
.contact-context .close img{
    width: 100%;
    display: block;
}